<div id="pagecontent_container" class="container">
    <div id="pagecontent">
        <h3>[% textname %]</h3>
        <table id="paralleltext">
        [% FOREACH pg IN paragraphs -%]
            <tr>
                <td class="langorig"><p>[% pg.original %]</p></td>
                <td class="langtrans"><p>[% pg.translation %]</p></td>
            </tr>
        [% END -%]
        </table>
    </div>
    <div id="apparatusdisplay"></div>
    <div id="notedisplay"></div>
</div>