<div id="pagecontent">
	<span class="displaysigil">[% textsigil %]</span>
	<span class="displaywitid">[% textidentifier %]</span>
	[% textdescription %]
</div>
<div id="sourcetext">
	[% textcontent %]
</div>