<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<link rel="stylesheet" type="text/css" href="[% c.uri_for( 'css', 'style.css' ) %]">
		<script type="text/javascript" src="[% c.uri_for('/js/jquery-1.7.1.min.js') %]"></script>
		<script type="text/javascript" src="[% c.uri_for('/js/edition.js') %]"></script>
		<title>[% pagetitle %]</title>
	</head>
	<body>
		<div id="topbanner">
			<h1>Ժամանակագրութիւն Մատթէոսի Ուռհայեցւոյ</h1>
			<h2>Excerpts from the <span class="texttitle">Chronicle</span> of Matthew of Edessa</h2>
		</div>
		<div id="sidenav">
			<h2><a href="abouttext">About the <span class="texttitle">Chronicle</span></a></h2>
			<h2><a href="aboutsite">About this edition</a></h2>
			<h2>Text and translations</h2>
			<ul>
[% INCLUDE menu_text.tt2 -%]
			</ul>
			<h2>Source witnesses</h2>
			<ul>
[% INCLUDE menu_witness.tt2 -%]
        	</ul>
		</div>
[% content %]
		<div id="apparatusdisplay"></div>
		<div id="notedisplay"></div>
		<div id="footer">
		</div>
	</body>
</html>