body { 
	margin: 0; 
	padding: 0px; 
	font: 1em Palatino, Times, serif; 
	font-size: 85%; 
	color: #666;
}
h1 {
	color: #402B10;
	font-size: 24px;
	font-weight: 100;
	margin-left: 5px;
	margin-bottom: 17px;
	margin-top: 0px;
	padding: 0;
}
h3 {
	margin-left: 15px;
}
#topbanner {
	height: 150px;
	left: 0px;
	top: 0px;
	background: url('/images/baldwin_edessa_banner.jpg');
	z-index: -1;
}
#topbanner h1 {
	font-size: 48px;
}
#topbanner h2 {
	font-size: 24px;
	color: #402B10;
	margin-left: 5px;
}
#sidenav {
	width: 25%;
	float: left;
	height: 70%;
	padding: 20px;
	color: #ffffff;
	background-color: #541414;
	overflow: auto;
}
#sidenav a:link {
	color: #ffffff;
}
#sidenav a:visited {
	color: #f1d4f1;
}
#sidenav a:hover {
	color: #d1bad1;
}
#sidenav a:active {
	color: #d1bad1;
}
#sidenav ul {
	list-style-type: none;
}
#sidenav li {
	margin-bottom: 8px;
}
#pagecontent_container {
	position: relative;
	top: -5%;
	width: 68%;
	float: right;
	margin-right: 20px;
	border: 1px solid #222;
	height: 78%;
	background-color: #fafafa;
}
#pagecontent {
	padding-top: 2%;
	height: 97%;
	overflow: auto;
	background-color: #fafafa;
}
.lemma {
	color: #785378;
	text-decoration: underline;
}
.editnote {
	color: #785378;
	text-decoration: none;
	border-bottom: 1px dotted #785378;
}
#apparatusdisplay {
	position: relative;
	float: left;
	width: 45%;
	bottom: 15px;
	margin-left: 5px;
	border: 1px solid;
	z-index: 1;
	background-color: #f2f2f2;
	padding: 3px 10px;
}
.selectedlemma {
	background-color: #ffffa0;
}
.apparatuslemma {
	text-decoration: underline;
	font-weight: bold;
}
.appreading {
	font-style: italic;
	margin-left: 5px;
}
.appwitlist {
	margin-left: 10px;
}
#notedisplay {
	position: relative;
	float: left;
	bottom: 15px;
	margin-left: 15px;
	margin-right: 5px;
	width: 45%;
	border: 1px solid;
	z-index: 1;
	background-color: #f2f2f2;
	padding: 3px 10px;
}
.section {
	float: left;
	position: relative; left: -30px;
}
p {
	line-height: 150%;
	text-indent: 15px;
}
p.followpg {
	text-indent: 0px;
}
#witness_container {
	position: relative;
	top: -5%;
	width: 68%;
	float: right;
	margin-right: 20px;
	border: 1px solid #222;
	height: 85%;
	background-color: #fafafa;
	overflow: scroll;
}
#witdescription {
	margin-top: 40px;
	margin-left: 40px;
}
#sourcetext {
	margin-left: 150px;
	margin-top: 40px;
}
table.pagecolumn td.left {
	vertical-align: bottom;
	width: 350px;
}
table.pagecolumn td.right {
	vertical-align: top;
	width: 350px;
}
.displaysigil {
	font-style: italic;
	font-size: 40px;
}
.displaywitid {
	font-size: 30px;
	padding-left: 80px;
}
#paralleltext td {
	vertical-align: top;
	padding: 20px;
}
.texttitle {
	font-style: italic;
}
.textauthor {
	font-style: italic;
}
.number {
	text-decoration: overline;
}
.pagenum {
	border-top: 1px solid #111111;
	border-left: 1px solid #111111;
	border-style: solid;
	margin: 10px;
	padding: 10px;
	width: 400px;
}
.expansion {
	font-style: italic;
}
.highlight {
	color: #dd0000;
	font-size: 150%;
}
.addition {
	color: #00dd00;
}
.deletion {
	text-decoration: line-through;
}
